<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enter Numbers</title>
</head>
<body>
<h1>Enter Numbers</h1>
<form action="/process-numbers" method="post">
    <label for="numbers">Enter comma separated numbers:</label><br>
    <input type="text" id="numbers" name="numbers"><br>
    <input type="submit" value="Submit">
</form>
<a href="/previous-trees" style="display: inline-block;
            padding: 10px 20px;
            font-size: 20px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            color: black;
            background-color: #D3D3D3;
            border: none;
            border-radius: 5px;">Previous Trees</a>
</body>
</html>>